<head th:replace="layout :: head"></head>
<body>

<nav th:replace="layout :: navbar-learnmore"></nav>

<br> <br> 

<div class="jumbotron">
  <h1 class="display-4">Welcome to Researva! </h1>
  <p class="lead">Are you a research participant? </p>
  <br>
  <p class="lead">Click the "Search Studies" tab. You can search and apply to any research you would like to participate! </p>
  <a class="btn btn-primary btn-lg" href="/studies" role="button">Search Studies</a>
  <hr class="my-4">
  <br>
  <p class="lead">Are you a researcher? </p>
  <br>
  <p class="lead">Click the "Researchers" tab. You can start with registering research! </p>
  <a class="btn btn-primary btn-lg" href="/researchers" role="button">Register Research</a>
</div>


</body>
</html>