<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: navbar-researchselected"></nav>


<br>

<div class="jumbotron">
  <h1 class="display-4">Register Research </h1>
  <p class="lead">Register your research/study here</p>
  <hr class="my-4">
  <form action="#" th:action="@{/saveResearch}" th:object="${research}">
	<div class="form-group">
		<label>Research Title</label><br>
		<input type="text" th:field="*{researchTitle}" size="50">
	</div>
	<div class="form-group">
		<label>Research Area</label><br>
		<input type="text" th:field="*{researchArea}" size="50">
	</div>
	<div class="form-group">
		<label>Research Institution</label><br>
		<input type="text" th:field="*{researchInstitution}" aria-describedby="institutionHelp" size="50">
		<small id="institutionHelp" class="form-text text-muted">Write the name of the research institution
		 your research belongs to!</small>
	</div>
	<div class="form-group">
		<label>Research Duration</label><br>
		<input type="text" th:field="*{researchDuration}" aria-describedby="durationHelp" size="50">
		<small id="durationHelp" class="form-text text-muted">Feel free to write in any Date format!</small>
	</div>
	<div class="form-group">
		<label>Researcher Name</label><br>
		<input type="text" th:field="*{postedBy}" aria-describedby="authorHelp" size="50">
		<small id="authorHelp" class="form-text text-muted">The name of a researcher who is posting this research!</small>
	</div>
	<br>
	<button type="submit" class="btn btn-primary">Register</button>
</form>
</div>



</body>
</html>