<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: navbar-researchselected"></nav>

<br>

<div class="jumbotron">
  <h1 class="display-4">Register Research </h1>
		<p class="lead">Register your research/study here</p>
		<hr class="my-4">
		<div th:if="${param.postresearch}" style="font-style: italic;">
		Your Research has been successfully added!</div>
		<br>
		<form action="#" th:action="@{/saveResearch}" th:object="${research}">
	<div class="form-group">
		<label>Research Title</label><br>
		<div th:each="e:${errorTitle}" th:text="${e}" id="errors" style="color: red;"></div>
		<input type="text" th:field="*{researchTitle}" size="50">
	</div>
	<div class="form-group">
		<label>Research Area</label><br>
		<div th:each="e:${errorArea}" th:text="${e}" id="errors" style="color: red;"></div>
		<input type="text" th:field="*{researchArea}" size="50">
	</div>
	<div class="form-group">
		<label>Research Institution (Name or Address)</label><br>
		<div th:each="e:${errorInstitution}" th:text="${e}" id="errors" style="color: red;"></div>
		<input type="text" th:field="*{researchInstitution}" aria-describedby="institutionHelp" size="50">
		<small id="institutionHelp" class="form-text text-muted">Write the name /address of the research institution
		 your research belongs to! <br>If you provide an address, research participants may locate the institution 
		 <br> via Google Map! </small>
	</div>
	<div class="form-group">
		<label>Research Duration</label><br>
		<div th:each="e:${errorDuration}" th:text="${e}" id="errors" style="color: red;"></div>
		<input type="text" th:field="*{researchDuration}" aria-describedby="durationHelp" size="50">
		<small id="durationHelp" class="form-text text-muted">Feel free to write in any Date format!</small>
	</div>
	<div class="form-group">
		<label>Researcher Name</label><br>
		<div th:each="e:${errorName}" th:text="${e}" id="errors" style="color: red;"></div>
		<input type="text" th:field="*{postedBy}" aria-describedby="authorHelp" size="50">
		<small id="authorHelp" class="form-text text-muted">The name of a researcher who is posting this research!</small>
	</div>
	<div class="form-group">
		<label>Research Details</label><br>
		<div th:each="e:${errorDetails}" th:text="${e}" id="errors" style="color: red;"></div>
		<textarea th:field="*{researchDetail}" aria-describedby="detailHelp" cols="50"></textarea>
		<small id="detailHelp" class="form-text text-muted">Details of the research</small>
	</div>
	<div class="form-group">
		<label>Number of Research participants planned</label><br>
		<div th:each="e:${errorNumParticipants}" th:text="${e}" id="errors" style="color: red;"></div>
		<input type="number" th:field="*{numParticipants}" size="50">
	</div>
	<div class="form-group">
		<label>Video URL</label><br>
		<input th:field="*{videoURL}" aria-describedby="URLHelp" size="50"></input>
		<small id="URLHelp" class="form-text text-muted">Do you have a YouTube video for the research? 
		Add the link here!</small>
	</div>
	<br>
	<button type="submit" class="btn btn-primary">Register</button>
</form>

<br>

		<form action="#" th:action="@{/researchers}">
			<input type="submit" value="Back" class="btn btn-primary">
		</form>

	</div>



</body>
</html>