<head th:replace="layout :: head"></head>
<body>

<nav th:replace="layout :: navbar-researchselected"></nav>

<br>

<div class="jumbotron">
  <h1 class="display-4">Researcher Home </h1>
  <p class="lead">Welcome, researchers! You can add your researches or studies on this page. Then, your registered 
  researches/studies will be visible to potential research participants!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/registerResearch" role="button">Register Research</a>
</div>



</body>
</html>