<head th:replace="layout :: head"></head>
<body>

<nav th:replace="layout :: navbar-studiesSelected"></nav>

<body>

	<div class="jumbotron">
		<h1 class="display-4">Research List</h1>
		<p class="lead">Manage Research Studies</p>
		<hr class="my-4">
	</div>
	<br>
	<form class="form-inline" action="#" th:action="@{/searchResearch}">
		<i class="fas fa-search" aria-hidden="true"></i> <input
			class="form-control form-control-sm ml-3 w-50" type="text"
			placeholder="Search" aria-label="Search" name="search">
		&nbsp; <select name="criteria" class="form-control" id="sel1">
			<option th:each="c:${criterias}" th:value="${c}" th:text="${c}"></option>
		</select> &nbsp;
		<button type="submit" class="btn btn-primary">Search</button>
		&nbsp;
  		<a class="btn btn-primary" href="/studies" role="button">Clear Search Results</a>
	</form>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Research Title</th>
				<th scope="col">Research Institutions</th>
				<th scope="col">Posted By</th>
				<th scope="col">Posted Date</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="r:${researches}">
				<td th:text="${r.researchTitle}"></td>
				<td th:text="${r.researchInstitution}"></td>
				<td th:text="${r.postedBy}"></td>
				<td th:text="${r.postedDate}"></td>
				<td>
					<form action="#"
						th:action="@{/viewDetails/{researchid}(researchid=${r.researchStudyId})}">
						<button type="submit" class="btn btn-primary">View
							Details</button>
					</form>
				</td>
				<td>
					<form action="#"
						th:action="@{/deleteResearch/{researchid}(researchid=${r.researchStudyId})}">
						<button type="submit" class="btn btn-primary">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>