<head th:replace="layout :: head"></head>


<body>

	<nav th:replace="layout :: navbar-studiesSelected"></nav>

	<br>

	<div class="jumbotron">
		<h1 class="display-4" th:text="${research.researchTitle}"></h1>
		<p class="lead"
			th:text="'Posted by ' + ${research.postedBy} + ', ' + ${research.postedDate}"></p>
		<p class="lead"
			th:text="'Number of Applications received : ' + ${research.applyCount}"></p>
		<hr class="my-4">
		<table class="table">
			<tbody>
				<tr>
					<th>Research Area</th>
					<td th:text="${research.researchArea}"></td>
				</tr>
				<tr>
					<th>Research Institution</th>
					<td th:text="${research.researchInstitution}"></td>
				</tr>
				<tr>
					<th>Research Duration</th>
					<td th:text="${research.researchDuration}"></td>
				</tr>
				<tr>
					<th>Research Details</th>
					<td th:text="${research.researchDetail}"></td>
				</tr>
				<tr>
					<th>Number of Participants</th>
					<td th:text="${research.numParticipants}"></td>
				</tr>
				<tr>
					<th>Video URL</th>
					<td th:text="${research.videoURL}"></td>
				</tr>
			</tbody>
		</table>

		<br>

		<form action="#" th:action="@{/studies}">
			<input type="submit" value="Back" class="btn btn-primary">
		</form>
	</div>
</body>
</html>